.showcase-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: $brand;
    overflow: hidden;
    position: relative;

    h1 {
        color: $light;
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 50px 0 0 10px;
        padding: 0;

        @media screen and (min-width: $tabletBreak) {
            margin: 20px 0 20px 100px;
        }
    }
}

.videos-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.video-container {
    position: relative;
}

.showcase-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.showcase-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.video-dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px;
    border: 2px solid $light;
    opacity: .6;
}

.video-control {
    width: 36px;
    height: 36px;
    background: $formback;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    z-index: 401;
    opacity: .4;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: .65;
        transition: opacity .3s ease-in-out; 
    }

    svg {
        stroke: $compliment;
        width: 31px;
        height: 31px;
    } 
}

.video-left {
 display: block
}

.video-right {
    transform: rotate(180deg);
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 0 0 0 1%;

    @media screen and (min-width: $tabletBreak) {
        width: 80%;
        margin: 0 auto;
        max-width: 850px;
    }

    video {
        padding: 2%;
        border-radius: 2%;
        background: $formback;
        width: 100%;
        height: auto;
    }
}

.video-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 0 30px;

    @media screen and (min-width: $tabletBreak) {
        flex-direction: row;
    }

    h2 {
        color: $light;
        font-weight: 500;
        margin: 10px 30% 0;
        width: 86%;
        margin: 5px 2%;
        font-size: 21px;
        background: rgba(0,0,0,.2);
        padding: 7px 14px;
        border-radius: 3px;

        @media screen and (min-width: $artismBreak) {
            width: 70%;
            line-height: 30px;
        }

        @media screen and (min-width: $tabletBreak) {
            margin: 10px 5% 20px 5%;
            width: 40%;
            font-size: 24px;
            line-height: 32px;
        } 
    }

    h4 {
        color: $compliment;
        width: 90%;
        margin: 12px 0 0 10%;
        font-size: 18px;
        font-weight: 400;
        text-align: justify;

        @media screen and (min-width: $tabletBreak) {
            width: 70%;
            margin: 12px 0 0 30%; 
        }

        @media screen and (min-width: $tabletBreak) {
            width: 40%;
            margin: 12px 0 0 5%;
        }
    }
}